* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

section {
    background-color: white;
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
}

#carousel-example-2, #carousel-example-3, .carousel-inner, .carousel-item img, .view {
    height: 100vh;
}

.carousel-caption {
    text-align: center;
    bottom: 8px !important;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    color: white;
}

.carousel-control-prev, .carousel-control-next{
    width: 12vh !important;
    background-color: rgba(0,0,0,0.4);
}

.itm1 {
    background-color: white;
}

.itm2 {
    background-color: rgb(200, 200, 200);
}

.itm3 {
    background-color: dimgray;
}

.itm4 {
    background-color: rgb(253, 155, 144);
}

.itm5 {
    background-color: white;
}

.itm6 {
    background-color: #a0a0a0
}

.itm4-view iframe {
    margin-top: 0px;
}

.itm5-view iframe {
    width: 100%;
}

.itm6-view iframe {
    width: 100%;
    margin-top: 0px;
}

.itm7-view iframe {
    width: 100%;
    margin-top: 0px;
}

iframe {
    background-color: white;
    width: 80%;
    height: 100%;
    overflow: hidden;
    margin-top: 53px;
}

.navbar {
    height: 53px;
}

h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    width: 100%;
    left: 0;
    font-size: calc(1rem + 3vw);
}